html,
body {
  height: 100%;
}

html {
  color-scheme: light;
}

body {
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: var(--typo-font-base);
  line-height: var(--typo-lh-base);
  background-color: var(--color-background-base);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

img,
button {
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
