<div class="grid-container">
  <slot />
</div>

<style lang="scss">
  :root {
    --grid-column-count: 6;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), 1fr);
    column-gap: var(--space-gap);
    container: common-container / inline-size;
  }
</style>
