<div class="article-callout">
  <slot />
</div>

<style lang="scss">
  .article-callout {
    padding: 0.75lh 1.5em;
    background-color: var(--color-gray-700);
    border-radius: var(--radius-midium);
  }
</style>
