:root {
  --color-white: #fff;
  --color-gray-900: #f0f0f0;
  --color-gray-700: #ccc;
  --color-gray-500: #aaa;
  --color-gray-400: #555;
  --color-gray-300: #333;
  --color-black: #000;

  --color-orange: hsl(16deg 100% 50%);

  // sample
  --color-primary: var(--color-orange);

  // common
  --color-text: var(--color-black);
  --color-text-light: var(--color-white);
  --color-background: var(--color-white);
  --color-background-dark: var(--color-gray-300);
  --color-border: var(--color-gray-500);
}
