@use "@/styles/_develop/+.scss" as *;

:root {
  --space-inline: 2rem; // gutterでいいかも
  --space-block: 1rlh;
  --space-gap: #{vw(16, 1440)};

  @include min-screen(md) {
    --space-inline: 3rem;
  }

  @include min-screen(lg) {
    --space-inline: 4rem;
  }
}
