---
import CommonContainer from '@/components/Common/CommonContainer.astro';
import CommonContent from '@/components/Common/CommonContent.astro';
import CommonSection from '@/components/Common/CommonSection.astro';
---

<CommonSection type="black">
  <CommonContainer>
    <CommonContent>
      <h2>Grid</h2>
      <p>5 column</p>
    </CommonContent>
    <CommonContent column="1/2"><div class="box">1/2</div></CommonContent>
    <CommonContent column="2/3"><div class="box">2/3</div></CommonContent>
    <CommonContent column="3/4"><div class="box">3/4</div></CommonContent>
    <CommonContent column="4/5"><div class="box">4/5</div></CommonContent>
    <CommonContent column="5/6"><div class="box">5/6</div></CommonContent>
    <CommonContent column="2/-1"><div class="box">2/-1</div></CommonContent>
    <CommonContent column="2/5"><div class="box">2/5</div></CommonContent>
    <CommonContent column="1/3"><div class="box">1/3</div></CommonContent>
    <CommonContent column="3/6"><div class="box">3/6</div></CommonContent>
  </CommonContainer>
</CommonSection>

<style>
  .box {
    padding: 0.5lh 1em;
    margin-top: 1rem;
    color: var(--color-white);
    background-color: slategray;
  }
</style>
