---
import CommonContainer from '@/components/Common/CommonContainer.astro';
import CommonContent from '@/components/Common/CommonContent.astro';
---

<div class="top-hero">
  <CommonContainer>
    <CommonContent>
      <h1>ASTRO-SVELTE-TEMPLATE</h1>
      <p>ASTRO-SVELTE-TEMPLATE is a template for building static sites with Astro and Svelte.</p>
    </CommonContent>
  </CommonContainer>
</div>

<style lang="scss">
  .top-hero {
    padding-block: 10vw;
  }
</style>
