---
import CommonContainer from '@/components/Common/CommonContainer.astro';
import CommonContent from '@/components/Common/CommonContent.astro';
import CommonSection from '@/components/Common/CommonSection.astro';
---

<CommonSection>
  <CommonContainer>
    <CommonContent column="1/2">
      <h2>2 Topics</h2>
    </CommonContent>
    <CommonContent column="2/4"><div class="box">1 of 2</div></CommonContent>
    <CommonContent column="4/6"><div class="box">2 of 2</div></CommonContent>
  </CommonContainer>
</CommonSection>

<CommonSection>
  <CommonContainer>
    <CommonContent column="1/2">
      <h2>4 Topics</h2>
    </CommonContent>
    <CommonContent column="2/3"><div class="box">1 of 4</div></CommonContent>
    <CommonContent column="3/4"><div class="box">2 of 4</div></CommonContent>
    <CommonContent column="4/5"><div class="box">4 of 4</div></CommonContent>
    <CommonContent column="5/6"><div class="box">3 of 4</div></CommonContent>
  </CommonContainer>
</CommonSection>

<style>
  .box {
    aspect-ratio: 1/1;
    padding: 0.5lh 1em;
    margin-bottom: 1lh;
    color: var(--color-white);
    background-color: slategray;
  }
</style>
