---
import projectData from '@/data/project.ts';
const { siteName } = projectData;
---

<footer class="common-footer">
  <div class="common-footer_inner">
    <ul class="common-footer_left">
      <li>
        <a href="#">Link1</a>
      </li>
      <li>
        <a href="#">Link2</a>
      </li>
    </ul>
    <div class="common-footer_copy">
      <div>&copy;{new Date().getFullYear()} {siteName}</div>
    </div>
    <div class="common-footer_right"></div>
  </div>
</footer>

<style lang="scss">
  .common-footer {
    padding: 0 var(--space-inline) var(--space-block) var(--space-inline);
  }

  .common-footer_inner {
    display: flex;
    justify-content: space-between;
    padding: 0.5lh 0;
    font-size: var(--typo-size-50);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .common-footer_left {
    display: flex;
    flex: 1;
    gap: 1rem;
  }

  .common-footer_right {
    flex: 1;
  }
</style>
