---
const { type } = Astro.props;
const bg = type === 'black' ? 'var(--color-background-dark)' : 'transparent';
const text = type === 'black' ? 'var(--color-text-on-dark)' : 'var(--color-text-base)';
---

<div class="common-section">
  <slot />
</div>

<style lang="scss" define:vars={{ bg, text }}>
  .common-section {
    padding-block: 10vw;
    color: var(--text);
    background-color: var(--bg);
  }
</style>
