---
const { column = '1 / -1', tb } = Astro.props;
---

<div class="common-content">
  <slot />
</div>

<style lang="scss" define:vars={{ column, tb }}>
  .common-content {
    grid-column: var(--column);

    @container common-container (width < 65em) {
      grid-column: var(--tb, var(--column));
    }

    @container common-container (width < 45em) {
      grid-column: 1/-1;
    }
  }
</style>
