<div class="common-stack">
  <slot />
</div>

<style lang="scss">
  .common-stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-block);
    align-items: flex-start;
  }
</style>
