---
import GlobalNavigation from '@/components/GlobalNavigation/GlobalNavigation.svelte';
const baseUrl = import.meta.env.BASE_URL;
---

<header class="common-header">
  <div class="common-header_inner">
    <a href=`${baseUrl}` class="common-header_title">Title</a>
    <div class="common-header_navi">
      <GlobalNavigation client:load selectedUrl={Astro.url.pathname} />
    </div>
  </div>
</header>

<style lang="scss">
  .common-header {
    padding: 0 var(--space-inline);
    background-color: var(--color-background);
  }

  .common-header_inner {
    display: flex;
    justify-content: space-between;
    padding: 0.5lh 0;
    border-bottom: 1px solid var(--color-border);
  }

  .common-header_title {
    text-transform: uppercase;
  }
</style>
