---
import '@/styles/base.scss';
import BaseHead from '@/layouts/Base/BaseHead.astro';
import BaseLayout from '@/layouts/Base/BaseLayout.astro';
type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <BaseLayout>
      <slot />
    </BaseLayout>
  </body>
</html>
